In [1]:
import pandas as pd

In [6]:
dataset=pd.read_csv('Google_Stock_Price_Train.csv')

In [7]:
dataset.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [8]:
import keras

In [9]:
dataset.shape

(1258, 6)

In [10]:
#Data Preprocessing

In [12]:
#Check null values in each column
dataset.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64